sites/*/*settings*.php
files/
sites/*/files
sites/*/private

sites/README.txt
sites/all/modules/README.txt
sites/all/themes/README.txt

deploy/
*.sql
*.psd
*.tar
*.gz
*.zip
*.tgz
.ds_store
*.DS_Store
*node_modules
/node_modules
*-lock.json